:root {
  --skyrktResetInput: {
    border: none;
    font-family: inherit;
    border-radius: 0;

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  };
}

input,
textarea,
select,
button {
  @apply --skyrktResetInput;
}
