:root {
  --skyrktUtilityMediaSmall: 350px;
  --skyrktUtilityMediaMedium: 750px;
  --skyrktUtilityMediaLarge: 1350px;
  --skyrktUtilityMediaAspectRatio: 16/9;
}

@custom-media --minSmall (width <= --skyrktUtilityMediaSmall);
@custom-media --maxSmall (width > --skyrktUtilityMediaSmall);
@custom-media --minMedium (width <= --skyrktUtilityMediaMedium);
@custom-media --maxMedium (width > --skyrktUtilityMediaMedium);
@custom-media --minLarge (width <= --skyrktUtilityMediaLarge);
@custom-media --maxLarge (width > --skyrktUtilityMediaLarge);
@custom-media --minAspectRatio (min-aspect-ratio: --skyrktUtilityMediaAspectRatio);
@custom-media --maxAspectRatio (max-aspect-ratio: --skyrktUtilityMediaAspectRatio);
